@model ProjPrac.Models.Enrollment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camper.FullName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meal)
        </dt>
        <dd class = "col-sm-10">
          @*  @Html.DisplayFor(model => model.Meal.ID)

                Replace the code on line 30  with  a line of code for each item)
           Similiar to code in Index.csHTML file*@
                    <td>
                            @Html.DisplayFor(model => model.Meal.Breakfast)
                           
                            @Html.DisplayFor(model => model.Meal.Lunch)
                    
                            @Html.DisplayFor(model => model.Meal.Snack)
                            </td>      





        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
          @*  @Html.DisplayFor(model => model.Game.ID)

                  Replace the code on line 51  with  a line of code for each item)
           Similiar to code in Index.csHTML file*@
                     <td>
                    @Html.DisplayFor(model => model.Game.Gym)
       
                    @Html.DisplayFor(model => model.Game.RecRoom)
                
                    @Html.DisplayFor(model => model.Game.Computer)
                </td>






        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
