@model IEnumerable<ProjPrac.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Enrollment</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>

    @* Added code for 3 Items in each Model(Game and Meal)*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camper.FullName)
            </td>

                            <td>
                            @Html.DisplayFor(modelItem => item.Meal.Breakfast)
                           
                            @Html.DisplayFor(modelItem => item.Meal.Lunch)
                    
                            @Html.DisplayFor(modelItem => item.Meal.Snack)
                            </td>


        
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Gym)
       
                    @Html.DisplayFor(modelItem => item.Game.RecRoom)
                
                    @Html.DisplayFor(modelItem => item.Game.Computer)
                </td>
                           

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
